.page_container{
    width: 100%;
    height: 100%;
}

.page_header{
    width: 100%;
    height: 117px;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background-color: #FCC860;
}

.component_container{
    width: 100%;
    height: 100%;
}

.button_container{
    width: 100%;
    height: 110px;
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    /* background-color: #aa2828; */
}