.container{
    width: 250px;
    height: 140px;
    background-color: #00C0EF;
}

.top_container{
    padding: 15px;
    display: flex;
    align-items: center;
}

.left_container{
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: column;
    color: white;
}

.number_container{
    font-weight: 700;
    font-size: 38px;
    padding: 0 0 10px 0;
}

.statement{
    padding: 0 0 10px 0;
    font-size: 15px;
}

.right_container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}