.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.padding{
    padding: 20px;
}

.button_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.image_container{
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    box-Shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1)
}

.image_container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.inner_container{
    width: 100%;
    height: 100%;
    padding: 4px;
    position: absolute;
    top: 0;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}

.body_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user_name{
    font-size: 24px;
    font-weight: bold;
}

.user_email{
    font-size: 14px;
    font-weight:600;
    color: #7a7b7c;
}

.detail_group_one{
    line-height: 1.6rem;
}

.socials_container{
    display: flex;
    column-gap: 12px;
}

.upload{
    width: 10px;
    height: 10px;
}

.company_details{
    height: 100%;
    align-items: end;
    column-gap: 5px;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.section_header{
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 20px 0 20px;
}

.user_details{
    padding: 0.75rem 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.line{
    width: 100%;
    height: 0.5px;
    background-color: #CCCCCC;
}

.bottom_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.skills_container{
    width: 100%;
    height: 200px;
    padding: 0 20px 20px 20px;
    overflow-y: auto;
}

.skills_container::-webkit-scrollbar{
    display: none;
}

.skill_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 30px;
    padding: 0.5rem 0.75rem;
    background-color: #FCC860;
    border-radius: 5px;
}

.skill_name{
    font-size: 14px;
    font-weight: bold;
}