*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.Sidebar_container{
    width: 230px;
    height: 100%;
}

.outlet_container{
    width: 100%;
    height: 100%;
    background-color: #832131;
}