*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1E282C;
}

.logo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.logo img{
    width: 100px;
    height: 33px;
}

.header{
    width: 100%;
    color: #B8C7CE;
    background-color: #1A2226;
    padding: 10px 25px 10px 15px;
}

.treeview_menu{
    padding: 0 3rem;
    position: relative;
    display: block;
    color: #8aa4af;
    background-color: #274c5a;
}

.treeview_menu li{
    /* width: 100%; */
    padding: 8px 0 8px 0;
    background-color: #274c5a;
}

.treeview{
    width: 100%;
    height: 100%;
    background-color: #1E282C;
}

.treatitle{
    color: #79ADCA;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.list_headers{
    color: #8aa4af;
}

.list_headers:hover{
    color: white;
}

li a{
    text-decoration: none;
}

.category_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 16px 10px 16px;

}

.arrow{
    width: 24px;
    height: 24px;
    object-fit: cover;
}