.popup_container{
    width: 670px;
    height: 571px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.popup_header{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid #D4D4D4;
}

.popup_body{
    width: 100%;
    height: 91%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.popup_body::-webkit-scrollbar{
    display: none;
}

.image_container{
    position: relative;
    margin: 0.2rem;
}

.image_container img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.image_container input{
    position: absolute;
    width: 25px;
    height: 25px;
}

.statment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3rem;
}

.overflow_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}